html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ddd;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 1000px;
  line-height: 1.65;
}

h1 {
  text-align: center;
}

.container {
  width: 800px;
  margin: 50px auto;
  display: flex;
}

.card {
  border: 1px solid #aaa;
  border-radius: 10px;
  background-color: #eee;
  overflow: hidden;
  margin: 10px;
  flex: 1;
  transition: 0.5s;
}

.card:hover {
  box-shadow: 0 0 0 2px black;
  transform: scale(1.12);
}

.card .header {
  height: 150px;
  background-color: #666;
  line-height: 150px;
  text-align: center;
  font-size: 30px;
}

.card .content {
  text-align: center;
  padding-bottom: 30px;
}
