* {
  margin: 0;
  padding: 0;
  text-align: center;
  line-height: 0;
  background-color: #ccc;
}

.container {
  width: 600px;
  margin: 10px auto;
  border: 5px solid white;
  overflow: auto;
}

.thumb {
  width: 200px;
  float: left;
  border: 2px solid white;
  box-sizing: border-box;
}

.thumb:hover {
  opacity: 0.5;
  cursor: pointer;
}

.active {
  opacity: 0.5;
}

.fadein {
  opacity: 0;
  animation: fade 0.5s forwards;
}

@keyframes fade {
  100% {
    opacity: 1;
  }
}
